<header class="header js-header">
	<div class="hamburger js-hamburguer">
		<div class="_layer -top"></div>
		<div class="_layer -mid"></div>
		<div class="_layer -bottom"></div>
	</div>
	<nav class="menuppal">
		<ul>
			<li>
				<h1 class="title js-title">La frase del día</h1>
				<div class="game js-game">
					<input
						class="name js-name"
						type="text"
						placeholder="Escribe tu nombre"
						pattern="[A-Z]"
						maxlength="30"
					/>
					<input
						class="input-btn js-button"
						type="submit"
						value="Generar frase"
						id="myBtn"
					/>
					<p class="quote js-quote hidden"></p>
					<p class="thanks js-thanks hidden">
						¡Qué tengas un buen día,
						<span class="js-person"></span>
					</p>
					<button class="input-btn js-resetBtn hidden">Reset</button>
				</div>
			</li>
		</ul>
	</nav>
</header>
