.page__footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	padding: 1rem;
	color: $color-secondary;
}

.fa-instagram {
	font-size: 16px;
	@media all and (min-width: 768px) {
		font-size: 24px;
	}
}
