body {
	margin: 0;
	padding: 0;
}
.hamburger {
	position: fixed;
	background-color: transparent;
	left: 0;
	top: 0;
	height: 30px;
	width: 30px;
	padding: 20px 20px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.25s
		cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index: 1002;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hamburger.is-active {
	background-color: none;
}
._layer {
	background: #333333;
	margin-bottom: 4px;
	border-radius: 2px;
	width: 28px;
	height: 4px;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
.hamburger:hover .-bottom {
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}
.hamburger.is-active .-top {
	-webkit-transform: translateY(200%) rotate(45deg) !important;
	-ms-transform: translateY(200%) rotate(45deg) !important;
	transform: translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid {
	opacity: 0;
}
.hamburger.is-active .-bottom {
	-webkit-transform: translateY(-200%) rotate(135deg) !important;
	-ms-transform: translateY(-200%) rotate(135deg) !important;
	transform: translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active {
	transform: translate3d(0px, 0px, 0px);
}
.menuppal {
	background-color: rgba(241, 228, 228, 0.95);

	bottom: 0;
	height: 100%;
	left: 0;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	transform: translate3d(0px, -100%, 0px);
	transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
	width: 100%;
	z-index: 1001;
}
.menuppal ul {
	margin: 0;
	padding: 0;
}
.menuppal ul li {
	list-style: none;
	text-align: center;
	font-family: Verdadna, Arial, Helvetica;
	color: black;
	font-size: 1.5rem;
	line-height: 3em;
	height: 3em;
	color: #369;
	text-transform: none;
	font-weight: bold;
}
.menuppal ul li a {
	text-decoration: none;
	color: #369;
}
.menuppal ul li a:hover {
	text-decoration: none;
	color: #333;
}

// TU FRASE DEL DIA
.title {
	font-size: 30px;
	margin-top: 180px;
	margin-bottom: 0;
	@media all and (min-width: 768px) {
		margin-top: 250px;
		font-size: 1.5em;
	}
}
.game {
	display: flex;
	flex-direction: column;
	align-content: space-around;
}
.name {
	font-size: 14px;
	width: 220px;
	margin-bottom: 30px;
	align-self: center;
	text-align: center;
	@media all and (min-width: 768px) {
		width: 280px;
		font-size: 16px;
	}
}
::placeholder {
	text-align: center;
	color: rgb(70, 31, 122);
	font-size: 12px;
	opacity: 50%;
}

.input-btn {
	width: 100px;
	height: 20px;
	align-self: center;
	font-size: small;
	background-color: rgba(198, 117, 230, 0.733);
	color: white;
	border-color: transparent;
	border-radius: 5px;
	cursor: pointer;
}
.hidden {
	display: none;
	overflow: hidden;
}
.quote {
	border: 1px solid violet;
	background-color: #b6b4c2;
	color: whitesmoke;
	font-family: 'Kaushan Script', cursive;
	font-size: 25px;
	line-height: 40px;
	padding: 20px;
	width: 300px;
	height: 200px;
	margin-top: 20px;
	align-self: center;
	text-align: center;
}
.thanks {
	padding-top: 10px;
	font-size: 14px;
	line-height: 30px;
}
